<!--
  Generated template for the UiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ui</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-list>
        <ion-item [navPush]="player" [navParams]="{cover:'1.jpg',song:'1.mp3'}">
          <ion-thumbnail item-start>
            <img src="assets/covers/1.jpg">
          </ion-thumbnail>
          <h2>Set Fire to The Rain</h2>
          <p>Adele</p>
          <button ion-button clear item-end>Play</button>
        </ion-item>
        <ion-item [navPush]="player" [navParams]="{cover:'2.png',song:'2.mp3'}">
            <ion-thumbnail item-start>
              <img src="assets/covers/2.png">
            </ion-thumbnail>
            <h2>Despacito</h2>
            <p>Luis Fonsi ft. Daddy Yankee</p>
            <button ion-button clear item-end>Play</button>
          </ion-item>
  </ion-list>

</ion-content>
