<!--
  Generated template for the InceptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>inception</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>Parametros: {{params}}</p>
  <p>Número de incepciones: {{contador}}</p>
  <button ion-button outline block [navPush]="inception" [navParams]="{n:contador+1}">Relizar incepción</button>
  <button ion-button outline block (click)="goHome()" color="danger">Volver al home</button>
</ion-content>
