<ion-header>
  <ion-navbar>
    <ion-title>
      Hola Mundo Ionic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list>
    <ion-item [navPush]="navigation"> 
      <ion-icon name="albums" item-start></ion-icon>
        Navigation
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item [navPush]="ui">
      <ion-icon name="browsers" item-start></ion-icon>
        UI
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon name="alert" item-start></ion-icon>
        Vibration
      <ion-icon name="arrow-dropright" item-end></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
