<!--
  Generated template for the NavigationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>navigation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button outline block [navPush]="inception" [navParams]="foo">Relizar incepción</button>
</ion-content>
