<!--
  Generated template for the PlayerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>player</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <img [src]="'assets/covers/'+cover"/>
        <ion-card-content>
          <ion-card-title>
            Set Fire to the Rain - Adele
            </ion-card-title>
          <audio [src]="'assets/songs/'+song" controls></audio>
        </ion-card-content>
      </ion-card>
</ion-content>
